{% load bootstrap4%}
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>Principal</title>
    {% bootstrap_css %}
    </head>
    
    <body>
    <div class="container">
        <h1>Produtos</h1>
        <!-- O código de tabela abaixo foiretiradode https://getbootstrap.com.br/docs/4.1/content/tables/-->
        <table class="table table-dark">
            <thead>
                <tr>
                <th scope="col">id</th>
                <th scope="col">Produto</th>
                <th scope="col">Preço</th>
                <th scope="col">Estoque</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                <tr>
                <td scope="row">{{ produto.id }}</td>
                <!-- Usaremos o recurso modal do bootstrap para exibir a
                imagem do produto. O componente modal se encontra em:
                https://getbootstrap.com.br/docs/4.1/components/modal/-->
                
                <td scope="row"><a href="#modal{{produto.id}}" data-
                toggle="modal"> {{ produto.nome }} </a></td>
                
                <td scope="row">{{ produto.preco }}</td>
                <td scope="row">{{ produto.estoque }}</td>
                </tr>
                <div class="modal fade" id="modal{{produto.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-
                hidden="true">

                <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Título do modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                <img src="{{ produto.imagem.url }}" class="img-fluid" alt="{{ produto.nome }}">
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
                </div>
                </div>
                </div>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% bootstrap_javascript jquery='full' %}
    </body>
</html>