{% load bootstrap4%}
<!DOCTYPE html>
<html lang="pt-br">

    <head>
    <meta charset="UTF-8">
    <title>Produto</title>
    {% bootstrap_css %}
    </head>

    <body>
        <div class="container">
        <h1>Produto</h1>
        {% bootstrap_messages %}

        <form action="{% url 'produto' %}" method="post" class="form" autocomplete="off" enctype="multipart/form-
        data"> <!-- o enctype é necessário quando houver upload de arquivo -->

        {% csrf_token %} <!-- Recurso de segurança do Django. Gera um token diferente para cada formulário e
        verifica se ninguémo alterou no meio do caminho -->
        {% bootstrap_form form%} <!-- O bootstrap será aplicado emnosso form-->
        {% buttons%} <!-- Cria um botão -->
        <button type="submit" class="btn btn-primary"> Cadastrar Produto</button>
        {% endbuttons%}
        </form>
        </div>
        {% bootstrap_javascript jquery='full'%}
    </body>
</html>